@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.logo {
    height: 5em;
    width: 5em;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #967070;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: plum;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: plum;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

#welcome h1 {
text-align: center;
font-size: 48px;
padding: 20px 20px;
}

#welcome h3 {
text-align: center;
font-size: 32px;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 18px;
}

#banner .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/clothing.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#banner .bannerBox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/braclet.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
   
}

#banner .bannerBox3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/shoe.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#banner h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

#newsLetter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: plum;
    background-position: 20% 30%;
    height: 200px;
    width: 100%;
    padding: 20px;
}

#newsLetter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsLetter p {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#newsLetter p span {
    color: brown;
}

#newsLetter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsLetter button {
    background-color: brown;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsLetter .form{
    display: flex;
    width: 40%;
}