@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.logo {
    height: 5em;
    width: 5em;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #967070;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: plum;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: plum;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: plum;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
}

#mobile {
    display: none;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.image{
    width: 400px;
}

/**
 * ----------------------------------------------------------------------------
 * Aspect ratio
 * ----------------------------------------------------------------------------
 */

 .AspectRatio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .AspectRatio::before {
    content: "";
    display: block;
  }
  
  .AspectRatio > img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .AspectRatio--withFallback > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .no-js .AspectRatio > img {
    display: none !important;
  }
  
  @supports (--css: variables) {
    /* For dynamic one, we use CSS variables, which makes it only compatible for newer browsers */
    .AspectRatio--withFallback {
      padding-bottom: 0 !important; /* For older browsers we use the padding-bottom trick, so make sure to remove it here */
    }
  
    .AspectRatio::before {
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
  
    .AspectRatio > img,
    .no-js .AspectRatio > noscript img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  
  .AspectRatio--square::before {
    padding-bottom: 100%;
  }
  
  .AspectRatio--short::before {
    padding-bottom: 75%;
  }
  
  .AspectRatio--tall::before {
    padding-bottom: 150%;
  }
  
  .AspectRatio--square > img,
  .AspectRatio--short > img,
  .AspectRatio--tall > img {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  @supports ((-o-object-fit: contain) or (object-fit: contain)) {
    .AspectRatio--square > img,
    .AspectRatio--short > img,
    .AspectRatio--tall > img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
  
  .imageContainer[data-sizes=auto] {
    width: 100%; /* this is needed to help LazySizes calculate the correct size */
  }

#welcome h1 {
text-align: center;
font-size: 48px;
padding: 20px 20px;
}

#welcome h3 {
text-align: center;
font-size: 32px;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 18px;
}

#banner .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/clothing.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#banner .bannerBox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/braclet.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
   
}

#banner .bannerBox3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/shoe.jpg");
    min-width: 580px;
    height: 50vh;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#banner h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

#newsLetter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: plum;
    background-position: 20% 30%;
    height: 200px;
    width: 100%;
    padding: 20px;
}

#newsLetter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsLetter p {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#newsLetter p span {
    color: brown;
}

#newsLetter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsLetter button {
    background-color: brown;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsLetter .form{
    display: flex;
    width: 40%;
}

.footerImg{
    width: 100px;
}

#pageHeader{
  background-image: url("img/daintyBanner2.png");
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0.25px;
}

#pageHeader h2{
  font-size: 82px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 250px;
  color: rgb(234, 83, 214);
}